body {
  margin: 0;
  font-family: Arial, sans-serif;
}


a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: black;
}

.navlinks {
  padding: 0;
}

.navbar {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: black;
}

.navlink-one, .navlink-two, .navlink-three {
  display: inline;
  font-size: 1.5rem;
  list-style-type: none;
  margin-left: 3.5rem;
}

.navlink-text {
  color: white;
}

.welcome-content {
  display: flex;
  margin-top: 0;
  margin-left: 3.5rem;
}

.welcome-message-main {
  font-size: 7rem;
  max-width: 40%;
}

.welcome-message-small {
  font-size: 3rem;
  max-width: 50%;
  align-self: center;
  line-height: 5rem;
  margin-left: 3.5rem;
}

.posts-list {
  margin-left: 30%;
  margin-right: 30%;
}

.index-heading {
  text-align:center;
  font-size: 5rem;
}

.sprint-heading {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.post-title {
  list-style: none;
  font-size: 2rem;
  text-decoration: underline;
}

#sprint-one-post-one, #sprint-two-post-one {
  margin-bottom: 1.5rem;
}

#sprint-2-heading {
  margin-top: 3rem;
}

.post-title-content {
  text-align: center;
}

.post-main-title {
  font-size:5rem;
  margin-bottom: 2rem;
}

.post-subtitle {
  font-size: 2rem;
}

.post-wrapper {
  margin-left: 15%;
  margin-right: 15%;
  text-align: justify;
}

.post-core-content {
  font-size: 2rem;
}

#photo-1 {
 text-align: center;
}

.photo-caption {
  font-size: 1rem;
}

.link-style {
  text-decoration: underline;
}