body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-weight: 500;
  padding-top: 70px;
  z-index: 100;
}


a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: black;
}

.navlinks {
  padding: 0;
}

.navbar {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 30px;
  z-index: 101;
}

.navlink-one, .navlink-two, .navlink-three {
  display: inline;
  font-size: 1.5rem;
  list-style-type: none;
  margin-left: 3.5rem;
}

.navlink-text {
  color: white;
}

.welcome-content {
  display: flex;
  margin-top: 0;
  margin-left: 3.5rem;
}

.welcome-message-main {
  font-size: 7rem;
  max-width: 40%;
  margin-top: 15rem;
}

.welcome-message-small {
  font-size: 2rem;
  max-width: 50%;
  align-self: center;
  line-height: 4rem;
  margin-left: 10rem;
  margin-top: 10rem;
}

#welcome-small-line-1 {
  margin-bottom: 1rem;
  margin-top: 0;
}

#welcome-small-line-2 {
  margin-top: 0rem;
}

@media only screen and (max-width: 1100px) {
   .welcome-content {
    display: block;
  }
   .welcome-message-main {
    max-width: 100%
   }

   .welcome-message-small {
    max-width: 100%;
    margin-left: 0;
    margin-top: 0;
   }
}

.posts-list {
  margin-left: 30%;
  margin-right: 30%;
}

.index-heading {
  text-align:center;
  font-size: 5rem;
}

.sprint-heading {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.post-title {
  list-style: none;
  font-size: 1.5rem;
  text-decoration: underline;
}

#sprint-one-post-one, #sprint-two-post-one {
  margin-bottom: 1.5rem;
}

#sprint-2-heading {
  margin-top: 3rem;
}

.post-title-content {
  text-align: center;
}

.post-main-title {
  font-size:5rem;
  margin-bottom: 2rem;
}

.post-subtitle {
  font-size: 2rem;
}

.post-wrapper {
  margin-left: 15%;
  margin-right: 15%;
  text-align: justify;
}

.post-core-content {
  font-size: 1.5rem;
  line-height: 3rem;
}

#photo-1 {
 text-align: center;
}

.photo-caption {
  font-size: 1rem;
}

.post-nav {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  margin-bottom: 2rem;
}

.prev-post, .back-to-top, .next-post {
  list-style-type: none;
  font-size: 1.5rem;
  text-decoration: underline;
}

.prev-post {
  margin-left: 2rem;
}

.next-post {
  margin-right: 2rem;
}

.link-style {
  text-decoration: underline;
}

.about-content {
  display: flex;
  margin-top: 3.5rem;
  margin-left: 3.5rem;
}

.about-me-head {
  font-size: 7rem;
  max-width: 40%;
  margin-top: 8rem;
}

.about-me-text {
  font-size: 1.5rem;
  max-width: 50%;
  line-height: 3rem;
  margin-left: 3.5rem;
  text-align: justify;
}


@media only screen and (max-width: 1100px) {
  .about-content {
   display: block;
 }
  .about-me-head {
   max-width: 100%;
  }

  .about-me-text {
   max-width: 100%;
   margin-left: 0;
   margin-right: 3.5rem;
  }
}

.code-demonstrate {
  font-weight: bold;
}

#example-2-1 {
  text-align: center;
  margin: auto;
}

#sprint-2-blog-1-photo {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.box-container {
  width: 300px;
  height: 300px;
  border-style: solid;
  border-color: black;
  margin: auto;
  position: relative;
}

.blue-circle {
  width: 75px;
  height: 75px;
  border-style: solid;
  color: blue;
  border-radius: 55%;
}

#two-one-blue-circle {
  width: 75px;
  height: 75px;
  border-style: solid;
  color: blue;
  border-radius: 55%;
  position: relative;
}

#two-two-blue-circle {
  position: relative;
  right: 100px;
}

#two-three-blue-circle {
  position: absolute;
  right: 100px;
}

#problem-text {
  position: absolute;
  right: 620px;
}

.blog-question {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.blog-answer {
  margin-top: 0;
}

.top-question {
  margin-top: 5rem;
}

#photo-2 {
  text-align: center;
}

#sprint-1-blog-2-photo {
  width: auto;
  margin-top: 2rem;
  margin-bottom: 0rem;
}

.JS-blog-example {
  margin: auto;
}

.JS-blog-list {
  list-style-type: none;
  margin: auto;
  font-weight: bold;
}

.indented-blog-example {
  margin-left: 40px;
  font-weight: bold;
}

.line-indent {
  padding-left: 10px;
}

